.Home {
    background-color: black;
    color: white;
} 

.Intro {
    margin: 15px 100px 0px 100px;
    padding-top: 30px;
    font-size: larger;
}

.link {
    color: white;
}

form {
    font-size: larger;
    padding-bottom: 10px;
}