.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    height: 100px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

